<div class="col-xl">
  <h4 class="card-header card-primary" style="color: white">
    Work Area
  </h4>  
  <div class="card">
   <div class="card-block">
      <p class="card-tngext">Content</p>
    </div>
  </div>
</div>