<div class="container">
<div class="row">
          <app-palette></app-palette>
          <app-workarea [salesProduct]="docSub">  </app-workarea>
          <app-inspector></app-inspector>
</div>
</div>